<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts -->
    <!-- logo Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <!-- Headings of pages Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <!-- Other Section Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- AOS Library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Bootstrap Files CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>

    <!-- Animate Library Files -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <!-- CSS Files -->
    <link rel="stylesheet" href="../CSS/main.css" />
    <link rel="stylesheet" href="../CSS/all.min.css" />
    <link rel="stylesheet" href="../CSS/about.css" />

    <link
      rel="icon"
      type="image/gif/png"
      href="../images/logo-s-circle.png"
      class="title"
    />
    <title>About Me</title>
  </head>
  <body>
    <!--Start of About Me Page (About Me)-->
    <div class="nav-content">
      <section id="close" onclick="closeFunc()">
        <i class="fa fa-window-close" aria-hidden="true"></i>
      </section>
      <section><a href="../index.html">Home</a></section>
      <section><a href="../Components/about.html">About Me</a></section>
      <section><a href="../Components/resume.html"> Resume</a></section>
      <section><a href="../Components/contact.html">Contact Me</a></section>
      <section><a href="../Components/projects.html"> Projects</a></section>
      <section class="links">
        <a
          href="https://www.facebook.com/nony.atef.77"
          class="text-decoration-none"
          target="_blank"
        >
          <i class="fa-brands fa-facebook facebook"> </i
        ></a>
        <a
          href="https://github.com/Nourhaan-Atef"
          class="text-decoration-none"
          target="_blank"
          ><i class="fa-brands fa-github git"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/nourhan-atef-54630b1b1/"
          class="text-decoration-none"
          target="_blank"
        >
          <i class="fa-brands fa-linkedin linkedin"></i>
        </a>

        <a
          href="https://www.behance.net/noura23"
          class="text-decoration-none"
          target="_blank"
        >
          <i class="fa-brands fa-behance-square behance"></i
        ></a>
        <a
          href="https://www.instagram.com/nourhanatef214/"
          class="text-decoration-none"
          target="_blank"
          ><i class="fa-brands fa-instagram-square insta"></i
        ></a>
        <a
          href="https://twitter.com/atefnoury"
          class="text-decoration-none"
          target="_blank"
        >
          <i class="fa-brands fa-twitter-square twitter"></i>
        </a>
      </section>
    </div>
    <div class="mynavbar">
      <div class="container">
        <div class="row">
          <div class="logo">
            <a href="../index.html" class="text-decoration-none"
              ><h2>NOURY</h2></a
            >
          </div>
          <div class="contact flex-center">
            <i class="fa-solid fa-bars" id="bars" onclick="shownFunc()"> </i>
          </div>
        </div>
      </div>
    </div>
    <div class="about-me" id="aboutMe">
      <div
        class="container"
        data-aos="zoom-out"
        data-aos-duration="1000"
        data-aos-delay="10"
      >
        <section class="head animate__animated animate__rubberBand">
          <span> Know Me More </span>
        </section>
        <section class="content col-12">
          <div class="container">
            <div class="row">
              <div
                class="paragraph col-lg-8 col-sm-12"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="100"
              >
                <span>Hi, I'm <span>Nourhan Atef </span> </span>
                <p>
                  I'm a designer & developer with a passion for web design. I
                  enjoy developing simple, clean and slick websites that provide
                  real value to the end user. Thousands of clients have procured
                  exceptional results while working with me. Delivering work
                  within time and budget which meets client’s requirements is
                  our moto.
                </p>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <h2
                  data-aos="zoom-out-down"
                  data-aos-duration="1000"
                  data-aos-delay="150"
                >
                  Hello There
                </h2>
                <img
                  src="../images/hello there.jpg"
                  alt=""
                  class="col-12"
                  data-aos="zoom-out-up"
                  data-aos-duration="1000"
                  data-aos-delay="150"
                />
              </div>
            </div>
          </div>
        </section>
        <section class="personal-info py-5 col-12">
          <div class="container p-0">
            <div class="flex-center">
              <span
                class="personal"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="50"
              >
                Personal Information
              </span>
            </div>
            <div class="row m-0">
              <div class="col-12">
                <span>Name </span>
                <span> : Nourhan Atef Ghareb </span>
              </div>
              <div class="col-12">
                <span>Age </span>
                <span> : 22 Years</span>
              </div>
              <div class="col-12">
                <span>Email </span>
                <span> : anour2168@gmail.com</span>
              </div>

              <div class="col-12">
                <span>Date Of Birth</span>
                <span> : 20 March, 2000</span>
              </div>
              <div class="col-12">
                <span>Address </span>
                <span> : Egypt El-Menofia</span>
              </div>
              <div class="col-12">
                <span>Phone </span>
                <span> : (+02) 012-8978-0115</span>
              </div>
            </div>
            <div class="flex-center">
              <button><a href="../My CV.pdf">Download Resume</a></button>
            </div>
          </div>
        </section>
        <section class="skills py-5 col-12">
          <div class="container">
            <div class="flex-center">
              <span
                class="skill"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="50"
              >
                MY SKILLS
              </span>
            </div>
            <div class="row flex-center">
              <div class="card flex-center p-3 col-lg-3 col-md-5 col-sm-12">
                <span>HTML5</span>
                <i class="fa-brands fa-html5 fa-10x html"></i>
              </div>
              <div class="card flex-center p-3 col-lg-3 col-md-5 col-sm-12">
                <span>CSS3</span>
                <i class="fa-brands fa-css3-alt fa-10x css"></i>
              </div>
              <div class="card flex-center p-3 col-lg-3 col-md-5 col-sm-12">
                <span>BOOTSTRAP</span>
                <i class="fa-brands fa-bootstrap fa-10x bootstrap"></i>
              </div>
              <div class="card flex-center p-3 col-lg-3 col-md-5 col-sm-12">
                <span>JAVASCRIPT</span>
                <i class="fa-brands fa-js-square fa-10x js"></i>
              </div>
              <div class="card flex-center p-3 col-lg-3 col-md-5 col-sm-12">
                <span>REACT</span>
                <i class="fa-brands fa-react fa-10x react"></i>
              </div>

              <div class="card flex-center p-3 col-lg-3 col-md-5 col-sm-12">
                <span>GIT</span>
                <i class="fa-brands fa-git-alt fa-10x git"></i>
              </div>

              <div class="card flex-center p-3 col-lg-3 col-md-5 col-sm-12">
                <span>JAVA</span>
                <i class="fa-brands fa-java fa-10x java"></i>
              </div>

              <div class="card flex-center p-3 col-lg-3 col-md-5 col-sm-12">
                <span>C++</span>
                <img src="../images/icons8-c++.svg" alt="C++ image" class="C" />
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!--End of About Me Page (About Me)-->

    <!-- JS Files -->
    <!-- AOS Animation Plugin Script -->
    <script>
      AOS.init();
    </script>

    <script src="../main.js"></script>
  </body>
</html>
